.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3

  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), html: {class: 'form-horizontal'}) do |f|
      = devise_error_messages!

      .form-group
        = f.label :email, class: 'col-sm-3 col-md-2 control-label'
        .col-sm-9.col-md-10
          = f.email_field :email, class: 'form-control'

      .form-group
        .col-sm-offset-3.col-md-offset-2.col-sm-9.col-md-10
          = f.submit 'Send me reset password instructions', class: 'btn btn-success'

  .col-xs-12.col-sm-3.col-md-3.col-lg-3
