%div{id: ul_id, class: (ul_id.index('completed') ? 'hidden' : '')}
  .row
    .col-xs-12.col-sm-5.col-md-6.col-lg-6.text-center
      - if params[:sort] != "title"
        = link_to "Title", :sort => "title"
      - else
        = link_to "Title", :sort => "title desc"
    .col-xs-12.col-sm-2.col-md-2.col-lg-2.text-center
      - if params[:sort] != "episode"
        = link_to "Episode", :sort => "episode"
      - else
        = link_to "Episode", :sort => "episode desc"
    .col-xs-12.col-sm-2.col-md-2.col-lg-2.text-center
      - if params[:sort] != "date"
        = link_to "Date", :sort => "date"
      - else
        = link_to "Date", :sort => "date desc"
    .col-xs-12.col-sm-3.col-md-2.col-lg-2.text-center
      Menu

  .row
    &nbsp;

  - if "#{ul_id}" == "ongoing_tvshow" && tvshow.length > 1
    .border-bottom
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .pull-right
            %a.new{:href => "#", :title => "New TV Series"} Add New Series

  - tvshow.each_with_index do |series, index|
    %div{class: (index + 1) != tvshow.count ? 'border-bottom entry' : 'entry'}
      .row{data: {id: series.id, title: series.title, episode: series.episode, ongoing: (!!series.ongoing ? 1 : 0)}}
        .title.col-xs-12.col-sm-5.col-md-6.col-lg-6= series.title
        .episode.col-xs-6.col-sm-2.col-md-2.col-lg-2.text-center= series.episode
        - if current_user.time_zone.present?
          .date.col-xs-6.col-sm-2.col-md-2.col-lg-2.text-center= (series.date + ActiveSupport::TimeZone.new(current_user.time_zone).now.utc_offset).strftime("%B %d, %Y")
        - else
          .date.col-xs-6.col-sm-2.col-md-2.col-lg-2.text-center= series.date.strftime("%B %d, %Y")
        .col-xs-12.col-sm-3.col-md-2.col-lg-2
          .pull-right
            - if "#{ul_id}" == "ongoing_tvshow"
              %a.next{:href => '#', action: "/tvshows/#{series.id}/change?option=next"} Next
              &nbsp;|&nbsp;
              %a.edit{:href => '#', action: "/tvshows/#{series.id}"} Edit
              &nbsp;|&nbsp;
              #{link_to "Delete", series, :confirm => 'Are you sure?', :method => :delete}
            - else
              Next
              &nbsp;|&nbsp;
              %a.edit{:href => '#', action: "/tvshows/#{series.id}"} Edit
              &nbsp;|&nbsp;
              Delete

  - if "#{ul_id}" == "ongoing_tvshow"
    .border-top
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .pull-right
            %a.new{:href => "#", :title => "New TV Series"} Add New Series
