<div id="<%= ul_id %>">
	<ul>
		<li>
			<div class="tvshow_col1 float_left">
				<% if params[:sort] != "title" %>
					<%= link_to "Title", :sort => "title" %>
				<% else %>
					<%= link_to "Title", :sort => "title desc" %>
				<% end %>
			</div>
			<div class="tvshow_col2 text_center float_left">
				<% if params[:sort] != "episode" %>
					<%= link_to "Last Watched", :sort => "episode" %>
				<% else %>
					<%= link_to "Last Watched", :sort => "episode desc" %>
				<% end %>
			</div>
			<div class="tvshow_col3 text_center float_left">
				<% if params[:sort] != "date" %>
					<%= link_to "Date Watched", :sort => "date" %>
				<% else %>
					<%= link_to "Date Watched", :sort => "date desc" %>
				<% end %>
			</div>
			<div class="tvshow_col4 text_center">Menu</div>
			<div style="clear:both;"></div>
		</li>
		<div style="clear:both;"></div>
			
		<% if "#{ul_id}" == "ongoing_tvshow" %>
			<li class="entry">
				<div class="tvshow_col2 float_right"><%= link_to 'Add New Series', new_tvshow_path %></div>
			</li>
		<% end %>
		<% tvshow.each do |series| %>
			<li class="entry">
				<div class="tvshow_col1 float_left"><%= series.title %></div>
				<div class="tvshow_col2 text_center float_left"><%= series.episode %></div>
				<div class="tvshow_col3 text_center float_left"><%= series.date.strftime("%B %d, %Y") %></div>
				<div class="tvshow_col4 text_center">
					<% if "#{ul_id}" == "ongoing_tvshow"%>
						<%= link_to "Next", :id => series, :action => :change, :sort => params[:sort], :option => "next" %>&nbsp;&nbsp;
						<%= link_to "Edit", edit_tvshow_path(series) %>&nbsp;&nbsp;
						<%= link_to "Complete?", :id => series, :action => :change, :sort => params[:sort], :option => "complete" %>&nbsp;&nbsp;
						<%= link_to "Delete", series, :confirm => 'Are you sure?', :method => :delete %>
					<% else %>
						Watched&nbsp;&nbsp;
						<%= link_to "Edit", edit_tvshow_path(series) %>&nbsp;&nbsp;
						Completed&nbsp;&nbsp;
						Delete
					<% end %>
				</div>
			</li>
		<% end %>
		<% if "#{ul_id}" == "ongoing_tvshow" %>
			<li class="entry">
				<div class="tvshow_col2 float_right"><%= link_to 'Add New Series', new_tvshow_path %></div>
				<div style="clear:both;"></div>
			</li>
		<% end %>
	</ul>
</div>
