%div{id: ul_id, class: (ul_id.index('completed') ? 'hidden' : '')}
  .row
    .col-xs-12.col-sm-4.col-md-5.col-lg-5.text-center
      - if params[:sort] != "title"
        = link_to "Title", :sort => "title"
      - else
        = link_to "Title", :sort => "title desc"
    .col-xs-12.col-sm-2.col-md-2.col-lg-2.text-center
      - if params[:sort] != "episode"
        = link_to "Episode", :sort => "episode"
      - else
        = link_to "Episode", :sort => "episode desc"
    .col-xs-12.col-sm-2.col-md-2.col-lg-2.text-center
      - if params[:sort] != "date"
        = link_to "Date", :sort => "date"
      - else
        = link_to "Date", :sort => "date desc"
    .col-xs-12.col-sm-4.col-md-3.col-lg-3.text-center
      Menu

  - if "#{ul_id}" == "ongoing_tvshow" && tvshow.length > 1
    .border-bottom
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .pull-right
            %a.new{:href => "#", :title => "New TV Series"} Add New Series

  - tvshow.each do |series|
    .border-bottom.entry
      .row{data: {id: series.id, title: series.title, episode: series.episode, ongoing: (!!series.ongoing ? 1 : 0)}}
        .title.col-xs-12.col-sm-4.col-md-5.col-lg-5
          = series.title
        .episode.col-xs-6.col-sm-2.col-md-2.col-lg-2.text-center
          = series.episode
        .date.col-xs-6.col-sm-2.col-md-2.col-lg-2.text-center
          = series.date.strftime("%B %d, %Y")
        .col-xs-12.col-sm-4.col-md-3.col-lg-3
          .pull-right
            - if "#{ul_id}" == "ongoing_tvshow"
              %a.next{:href => '#', action: "/tvshows/#{series.id}/change?option=next"} Next
              |
              %a.edit{:href => '#', action: "/tvshows/#{series.id}"} Edit
              |
              %a.completed{:href => '#', action: "/tvshows/#{series.id}/change?option=completed"} Completed?
              |
              #{link_to "Delete", series, :confirm => 'Are you sure?', :method => :delete}
            - else
              Watched
              |
              %a.edit{:href => '#', action: "/tvshows/#{series.id}"} Edit
              |
              Completed
              |
              Delete

  - if "#{ul_id}" == "ongoing_tvshow"
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .pull-right
          %a.new{:href => "#", :title => "New TV Series"} Add New Series
